<footer id="footer">
    <div class="container">
        <div class="col-lg-3">
            <p class="text-muted"> &copy; Grinnell AppDev, 2016</p>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-6">
            <p class="text-muted">Special thanks to John Brady and Takahiro Omura, our in-house photographers.
            </p>
        </div>

        <div class="col-lg-2">
            <p class="text-muted">
                <a href="//www.facebook.com/GrinnellAppdev">
                    <img class="footic" src="img/facebook.png">
                </a>
                <a href="//github.com/GrinnellAppDev">
                    <img class="footic" src="img/github.png">
                </a>
                <a href="//twitter.com/grinnellappdev">
                    <img class="footic" src="img/twitter.png">
                </a>
            </p>
        </div>
    </div>
</footer>
