<!DOCTYPE html>

<html lang="en">
    <head>
        {{> head}}
    </head>

    <body>
        <div id="wrap">
            {{> navbar}}

            <div class="container">
                <header class="page-header main-content">
                    <h1>Application Protocol Interfaces</h1>
                </header>

                <main class="card-container">
                    <section class="card">
                        <h2>Publications API</h2>
                        <a href="/api/publications/v1/">Docs</a> |
                        <b>https://appdev.grinnell.edu/api/publications/v1/</b>
                    </section>

                    <section class="card">
                        <h2>DB API</h2>
                        <a href="/api/db/v1/">Docs</a> |
                        <b>https://appdev.grinnell.edu/api/db/v1/</b>
                    </section>
                </main>
            </div>
        </div>

        {{> footer}}
    </body>
</html>
