<!DOCTYPE html>

<html lang="en">

<head>
    {{> head}}

    <style>
        .jobPic {
            display: block;
        }

        .apply-info {
            margin: 0 10%;
            padding-top: 30px;
            font-size: 2rem;
        }

        @media (max-width: 500px) {
            .apply-info {
                margin: 0 15px;
            }
        }
    </style>
</head>

<body>
    <div id="wrap">
        {{> navbar}}

        <div class="color">
            <div class="apply">
                <div class="container">
                    <div class="page-header main-content">
                        <h1 class="redTitle">You wanna make apps, too?!</h1>

                        <p>What interests you?</p>

                        <div class="col-lg-3">
                            <a class="jobPic" href="#engineering-and-design">
                                <img class="responsive jobs" src="img/developper.png" />
                                <h2>
                                    <span>Engineering</span>
                                </h2>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a class="jobPic" href="#engineering-and-design">
                                <img class="responsive jobs" src="img/designer.png">
                                <h2>
                                    <span>UI &amp; UX Design</span>
                                </h2>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a class="jobPic" href="#finance">
                                <img class="responsive jobs" src="img/ux.png">
                                <h2>
                                    <span>Finance</span>
                                </h2>

                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a class="jobPic" href="#community">
                                <img class="responsive jobs" src="img/community.png" />
                                <h2>
                                    <span>Community</span>
                                </h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <section id="engineering-and-design" class="apply-info">
                <h2>Engineering and Design</h2>

                <p>
                    Our engineers and designers are the backbone of AppDev. Designers are responsible for creating the look and feel of apps,
                    and engineers write the code to make them a reality. Taking on a role in engineering and design is a
                    great way to get practical experience in the app development industry.
                </p>

                <p>
                    Engineering and Design are high skill positions, meaning you will need to complete the appropriate training program or demonstrate
                    proficiency in the technologies covered therein. We offer four training programs.
                </p>

                <ol>
                    <li>
                        <b>iOS Engineering.</b> Learn to make iPhone and iPad apps.
                    </li>
                    <li>
                        <b>Android Engineering.</b> Learn to make Android apps.
                    </li>
                    <li>
                        <b>Web Services Engineering.</b> Learn to make web APIs.
                    </li>
                    <li>
                        <b>Design.</b> Learn to design quality user interfaces and experiences.
                    </li>
                </ol>

                <p>
                    You can attend more than one training program. Training starts at the
                    <b>beginning of each semester</b>, at which point we will reach out on multiple channels. To ensure that
                    you are notified, you can
                    <a href="/contact">contact us</a> and indicate your interest in joining or ask any questions you may have.
                </p>
            </section>

            <section id="finance" class="apply-info">
                <h2>Finance and Business</h2>

                <p>
                    There is no formal training program for finance and business. Prior experience is preferred, but not required as our current
                    business leadership can mentor you in the skills you will need. Please
                    <a href="/contact">contact us</a> if you are interested.
                </p>
            </section>

            <section id="community" class="apply-info">
                <h2>Community Outreach</h2>

                <p>
                    There is no formal training program for community outreach. Some experience within AppDev is preferred, but not required
                    as our current leadership can mentor you in the skills you will need. Please
                    <a href="/contact">contact us</a> if you are interested.
                </p>
            </section>
        </div>
    </div>

    {{> footer}}
</body>

</html>
