<!--
 -->
<!DOCTYPE html>

<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <div id="wrap">
        {{> navbar}}

        <div class="apply">
            <div class="color">
                <div class="contact">
                    <div class="container">
                        <div class="page-header main-content">
                            <h1 class="redTitle">Interested?!</h1>

                            <h3 class="redTitle">Want an app? Want more info?</h3>

                            <div class="col-lg-3"></div>

                            <div class="col-lg-6">
                                <div class="bottom">
                                    <p class="bottom">If you have a
                                        <em>request</em> for an app, an
                                        <em>idea</em> of what we should build next, want more information about us, or have any
                                        <em>feedback</em>, please use the form below. We'd love to hear from you!</p>
                                </div>

                                <div class="col-lg-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="applyCont">
                    <div class="col-lg-3"></div>

                    <div class="col-lg-6">
                        <h2>Shoot us an email!</h2>
                        <center>
                            <!-- Do not change the code! -->
                            <a id="foxyform_embed_link_819809" href="//www.foxyform.com/">foxyform</a>
                            <script type="text/javascript">
                                (function (d, t) {
                                    var g = d.createElement(t),
                                        s = d.getElementsByTagName(t)[0];
                                    g.src = "//www.foxyform.com/js.php?id=819809&sec_hash=5df2d446cb7&width=350px";
                                    s.parentNode.insertBefore(g, s);
                                }(document, "script"));
                            </script>
                            <!-- Do not change the code! -->
                            <!--



            <form class="form" action="contact.php" method="post" id="contact">
            <fieldset>
            <label for="name">Name: *</label> <br />
            <input type="text" id="name" name="name"><br />
            <label for="email">Email: *</label> <br />
            <input type="text" id="email" name="email"><br />
            <label for="essay">Message: *</label><br />
            <textarea name="essay" rows="5" cols="80" maxlength="1000" id="essay"></textarea> <br />

                            <br>
                            <button onclick="" type="submit">Submit</button>
                        </fieldset>
                    </form>
                -->
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>

        </div>

    </div>
    <div id="footer">
        <div class="container">

            <div class="col-lg-3">
                <p class="text-muted"> &copy; Grinnell AppDev, 2016</p>
            </div>
            <div class="col-lg-1"></div>

            <div class="col-lg-6">
                <p class="text-muted">Special thanks to John Brady and Takahiro Omura, our in-house photographers.
                </p>
            </div>

            <div class="col-lg-2">
                <p class="text-muted">
                    <a href="https://www.facebook.com/GrinnellAppdev">
                        <img class="footic" src="img/facebook.png">
                    </a>
                    <a href="https://github.com/GrinnellAppDev">
                        <img class="footic" src="img/github.png">
                    </a>
                    <a href="https://twitter.com/grinnellappdev">
                        <img class="footic" src="img/twitter.png">
                    </a>
                </p>
            </div>

        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/js/debounce.js"></script>
    <script src="js/waypoints.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>
