<!DOCTYPE html>

<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <div id="wrap">
        {{> navbar}}

        <div class="jumbotron">
            <div class="container">
                <div class="page-header main-content">
                    <h1>
                        <img class="logo img-responsive" src="img/adLogo.png" />
                    </h1>

                    <h3>We make mobile apps!</h3>

                </div>

                <center>
                    <div class="col-md-6">
                        <img class="img-responsive" src="img/introiOS.png">
                    </div>

                    <div class="col-md-6">
                        <img class="img-responsive" src="img/introAndroid.png">
                    </div>
                </center>

            </div>
        </div>

    </div>

    <div id="footer">
        <div class="container">

            <div class="col-lg-3">
                <p class="text-muted"> &copy; Grinnell AppDev, 2016</p>
            </div>
            <div class="col-lg-1"></div>

            <div class="col-lg-6">
                <p class="text-muted">Special thanks to John Brady and Takahiro Omura, our in-house photographers.
                </p>
            </div>

            <div class="col-lg-2">
                <p class="text-muted">
                    <a href="//www.facebook.com/GrinnellAppdev">
                        <img class="footic" src="img/facebook.png">
                    </a>
                    <a href="//github.com/GrinnellAppDev">
                        <img class="footic" src="img/github.png">
                    </a>
                    <a href="//twitter.com/grinnellappdev">
                        <img class="footic" src="img/twitter.png">
                    </a>
                </p>
            </div>

        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/js/debounce.js"></script>
    <script src="js/waypoints.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>
