<!DOCTYPE html>

<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <div id="wrap">
        {{> navbar}}

        <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
        <html>

        <head>
            <title></title>
        </head>

        <body>
            <div class="port">
                <div class="color">
                    <div class="portfolio">
                        <div class="container">
                            <div class="page-header main-content">
                                <h1 class="redTitle">
                                    We've made some apps!
                                </h1>
                                <h3 class="redTitle">
                                    Take a look at them in all their glory!
                                </h3>
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <div class="bottom">
                                        <p class="bottom">
                                            We create
                                            <em>quality applications</em> that are beautiful, self-evident, intuitive, and well
                                            implemented! Our goal is to
                                            <em>improve</em> the average user's life by providing simple solutions to everyday
                                            problems.
                                        </p>
                                    </div>
                                    <div class="col-lg-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
            <div class="container">
                <div id="maijid"></div>
                <div class="aboutContent" id="ft">
                    <div class="col-lg-5">
                        <h1>
                            <a href="portfolio.php"></a>Facetag!
                        </h1>
                        <p class="text-muted">
                            "FaceTag is a fun game for Android and iOS. Developed at MHacks Winter 2014."
                        </p>
                        <p>
                            Description: Set up a game with your friends and specify the duration of the game (time or points). Everyone will be given a target to tag! The first person to get a picture of their target's face gets a point and the game proceeds to the next round Game Rules:
                        </p>
                        <ul>
                            <li>Find your target and acquire a picture with their face clearly visible.
                            </li>
                            <li>Picture cannot be a picture of a picture.
                            </li>
                            <li>Other hunters will confirm that the picture is an original picture.
                            </li>
                        </ul>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <a href="https://itunes.apple.com/us/app/grinnell-db/id726496362?mt=8" target="_blank"><img src="img/appleStore.png"></a>
                        </div>
                        <div class="col-lg-4">
                            <a href="https://github.com/GrinnellAppDev/FaceTag-Android" target="_blank"><img src="img/noGooglePlay.png"></a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <img class="portPics img-responsive" id="ft1" src="img/facetag1.png"> <img class="portPics img-responsive" id="ft2" src="img/facetag2.png">
                    </div>
                </div>
            </div>
            <div class="color">
                <div class="container">
                    <div class="colorWrap">
                        <div class="aboutContent" id="kdic">
                            <div class="col-lg-5">
                                <img class="portPics img-responsive" id="kdic1" src="img/kdicIphone.png"> <img class="portPics img-responsive" id="kdic2" src="img/kdicAndroid.png">
                            </div>
                            <div class="col-lg-7">
                                <h1>
                                    <a href="portfolio.php"></a> KDIC Radio!
                                </h1>
                                <p class="text-muted">
                                    "Listen to KDIC radio live at any time!"
                                </p>
                                <p>
                                    The KDIC Streaming App is a convenient way for anyone to tune into their favorite radio station, KDIC, based out of Grinnell College, IA. The app allows you to pause and play the station, and should eventually pull metadata from the stream to display. On top of streaming KDIC, the app also brings the user content from the KDIC website, such as the program schedule. The KDIC Streaming App is a convenient way for anyone to tune into their favorite radio station, KDIC, based out of Grinnell College, IA.
                                </p>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-4">
                                    <a href="https://itunes.apple.com/us/app/kdic/id740353767?mt=8" target="_blank"><img src="img/appleStore.png"></a>
                                </div>
                                <div class="col-lg-4">
                                    <a href="https://play.google.com/store/apps/details?id=edu.grinnell.kdic" target="_blank"><img src="img/googlePlay.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div id="maijid2"></div>
                <div class="aboutContent" id="db">
                    <div class="col-lg-7">
                        <h1>
                            <a href="portfolio.php"></a>Grinnell DB!
                        </h1>
                        <p class="text-muted">
                            "Stalking just got so much easier..."
                        </p>
                        <p>
                            DB is the mobile version of Grinnell College's campus directory. DB is fully supported on iOS and is coming soon on Android. It is optimized for both phone and tablet layouts. Because of certain restrictions, the application only works on campus when the user is connected to one of the secure college's networks like GrinnellCollegeStudent or GrinnellCollegeWireless. Otherwise you'll get a more limited description view of the person you're looking for.
                        </p>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <a href="https://itunes.apple.com/us/app/grinnell-db/id726496362?mt=8" target="_blank"><img src="img/appleStore.png"></a>
                        </div>
                        <div class="col-lg-4">
                            <a href="https://play.google.com/store/apps/details?id=edu.grinnell.appdev.grinnelldirectory" target="_blank"><img src="img/googlePlay.png"></a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <img class="portPics img-responsive" id="db1" src="img/db1.png"> <img class="portPics img-responsive" id="db2" src="img/dbandroid.png">
                    </div>
                </div>
            </div>
            <div class="color">
                <div class="container">
                    <div class="colorWrap">
                        <div class="aboutContent" id="gl">
                            <div class="col-lg-5">
                                <img class="portPics img-responsive" id="gl1" src="img/gl1.png"> <img class="portPics img-responsive" id="gl2" src="img/gl2.png">
                            </div>
                            <div class="col-lg-7">
                                <h1>
                                    <a href="portfolio.php"></a> G-Licious!
                                </h1>
                                <p class="text-muted">
                                    "A global dining assistant that helps you plan out your next meal to the T!"
                                </p>
                                <p>
                                    G-licious is a quick and easy way to check the Dining Menu for the Grinnell College Marketplace. You can check the menu for today, tomorrow, or any day in the next week as and when a new menu becomes available. You can also filter out choices by personal dietary concerns. It parses JSON obtained from the server and maps onto various Dish and Venue objects. The iOS version uses Grand Central Dispatch to download Dining Menu data asynchronously and maintain a responsive user interface. On screen HUDs (MBProgressHUD) help users know which menu they are currently viewing, and a fully responsive and interactive ScrollView enables swiping to switch menus.
                                </p>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-4">
                                    <a href="https://itunes.apple.com/us/app/g-licious/id523738999?mt=8" target="_blank"><img src="img/appleStore.png"></a>
                                </div>
                                <div class="col-lg-4">
                                    <a href="https://play.google.com/store/apps/details?id=edu.grinnell.glicious" target="_blank"><img src="img/googlePlay.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div id="maijid3"></div>
                <div class="aboutContent" id="sandb">
                    <div class="col-lg-7">
                        <h1>
                            <a href="portfolio.php"></a>S&amp;B!
                        </h1>
                        <p class="text-muted">
                            "Read the latest college news on the go!"
                        </p>
                        <p>
                            S&amp;B is a nicely formatted mobile news reader for Grinnell College's Scarlet &amp; Black newspaper. It pulls the data from their respective website <a href="//www.thesandb.com/">http://www.thesandb.com.</a>It sorts articles by section - News, Sports, Community, Opinion and Arts - and features photos from their paper. The app is updated weekly with each new issue of the paper. S&amp;B is fully supported on iOS and Android, and is optimized for both phone and tablet layouts. The iOS version is currently under major overhaul using the JSON Wordpress API plugin to incorporate a fresher design with a parallax effect. Check back soon for the new version!
                        </p>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <a href="https://itunes.apple.com/us/app/s-b/id638912711?mt=8" target="_blank"><img src="img/appleStore.png"></a>
                        </div>
                        <div class="col-lg-4">
                            <a href="https://play.google.com/store/apps/details?id=edu.grinnell.sandb" target="_blank"><img src="img/googlePlay.png"></a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <img class="portPics img-responsive" id="sandb1" src="img/sbAndroid1.png"> <img class="portPics img-responsive" id="sandb2" src="img/sbAndroid2.png">
                    </div>
                </div>
            </div>
            <div class="color">
                <div class="container">
                    <div class="colorWrap">
                        <div class="aboutContent" id="events">
                            <div class="col-lg-5">
                                <img class="portPics img-responsive" id="events1" src="img/eventsPhone.png"> <img class="portPics img-responsive" id="events2" src="img/eventsPhone2.png">
                            </div>
                            <div class="col-lg-7">
                                <h1>
                                    <a href="portfolio.php"></a> Grinnell Events!
                                </h1>
                                <p class="text-muted">
                                    "Lets users see all events happening on the college campus, and add them to their calendar."
                                </p>
                                <p>
                                    The main view presents the user with an overview of all events sorted by day. Each event has attributes stating their name, location, and start and end time. By clicking on an event a user can see a more detailed description of the event, as well as add the event to their calendar. An graphical indicator lets the user know if they're available, unavailable, or are already attending a certain event. The user can specify what calendar they want to add the event to by going to the settings page. If a user wants to find a specific event, the main view provides a search function by title.
                                </p>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-4">
                                    <a href="https://github.com/GrinnellAppDev/Grinnell-Menu-iOS" target="_blank"><img src="img/noAppStore.png"></a>
                                </div>
                                <div class="col-lg-4">
                                    <a href="https://github.com/GrinnellAppDev/Grinnell-Menu" target="_blank"><img src="img/noGooglePlay.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

                <div class="container appProfiles">


                    <!--  GRINNELL EVENTS -->
                    </br>
                    </br>
                    <div class="col-md-12">

                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                            <center>
                                <img src="img/eventsApp.png" class="appProfile" style="margin-top: 100px;" />
                                </br>
                                </br>

                        </div>
                        <div class="col-md-5 profileStyle">
                            <center>
                                <h1>Grinnell Events</h1>

                                <a href="https://github.com/GrinnellAppDev/Grinnell-Events-iOS">iOS Codebase</a> |
                                <a href="https://github.com/GrinnellAppDev/Grinnell-Events-Android">Android Codebase</a>
                                </br>
                                </br>
                                <p>The absolute companion to any Grinnell College Student: Grinnell Events gathers all events
                                    on campus, and lists them so you can see what's happening around Grinnell. Adding events
                                    to your calendar is a piece of cake, Grinnell Events will even tell you if there's something
                                    on your calendar that conflicts with the event you're viewing. With all the stuff happening
                                    around campus, why sit alone in your room doing homework? Grinnell Events is here to
                                    help.
                                </p>
                                <!-- iOS Store -->
                                <a href="https://itunes.apple.com/us/app/grinnell-events/id924312300?mt=8" target="_blank">
                                    <img class="responsive store" src="img/appleStore.png">
                                </a>

                                <!-- Google Play -->
                                <a href="https://play.google.com/store/apps/details?id=edu.grinnell.events&amp;hl=en" target="_blank">
                                    <img class="responsive store" src="img/googlePlay.png">
                                </a>

                            </center>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>

                    <!-- SCARLET & BLACK -->

                    <div class="col-md-12">

                        <div class="col-md-3">
                        </div>
                        <div class="col-md-5 profileStyle">
                            <center>
                                <h1>Scarlet &amp; Black</h1>

                                <!-- iOS codebase -->
                                <a href="https://github.com/GrinnellAppDev/SandB-iOS">iOS Codebase</a> |

                                <!-- Android codebase -->
                                <a href="https://github.com/GrinnellAppDev/SandB-Android">Android Codebase</a>
                                </br>
                                </br>

                                <!-- Description -->
                                <p>Never miss a campus update! Read the
                                    <a href="http://www.thesandb.com/">Scarlet & Black</a> on the go. We hope you'll enjoy our sleek overhaul.
                                </p>

                                <!-- iOS Store -->
                                <a href="https://itunes.apple.com/us/app/scarlet-black/id925564328?mt=8" target="_blank">
                                    <img class="responsive store" src="img/appleStore.png">
                                </a>

                                <!-- Google Play -->
                                <a href="https://play.google.com/store/apps/details?id=edu.grinnell.sandb" target="_blank">
                                    <img class="responsive store" src="img/googlePlay.png">
                                </a>

                            </center>
                        </div>

                        <div class="col-md-2">
                            <center>
                                </br>
                                <img src="img/sandbApp.png" class="appProfile" style="margin-top: 10px;" />
                                </br>
                                </br>
                            </center>

                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>

                    <!--  GLICIOUS -->
                    </br>
                    </br>
                    <div class="col-md-12">

                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                            <center>
                                <img src="img/gliciousApp.png" class="appProfile" style="margin-top: 100px;" />
                                </br>
                                </br>

                        </div>
                        <div class="col-md-5 profileStyle">
                            <center>
                                <h1>G-Licious</h1>

                                <a href="https://github.com/GrinnellAppDev/Grinnell-Menu-iOS">iOS Codebase</a> |
                                <a href="https://github.com/GrinnellAppDev/Grinnell-Menu">Android Codebase</a>
                                </br>
                                </br>
                                <p>G-licious is a quick, easy, and pleasurable way to check the Dining Menu for the Grinnell
                                    College Marketplace. You can check the menu for today, tomorrow, or any day in the next
                                    week as and when a new menu becomes available. You can also filter out choices by personal
                                    dietary concerns as well as view nutritional information for certain dishes. You can
                                    favorite dishes and whenever this dish is available for that day, it will be the first
                                    dish you see.
                                </p>
                                <!-- iOS Store -->
                                <a href="https://itunes.apple.com/us/app/g-licious/id523738999?mt=8" target="_blank">
                                    <img class="responsive store" src="img/appleStore.png">
                                </a>

                                <!-- Google Play -->
                                <a href="https://itunes.apple.com/us/app/g-licious/id523738999?mt=8" target="_blank">
                                    <img class="responsive store" src="img/googlePlay.png">
                                </a>

                            </center>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>

                    <!-- DB -->

                    <div class="col-md-12">

                        <div class="col-md-3">
                        </div>
                        <div class="col-md-5 profileStyle">
                            <center>
                                <h1>DB</h1>

                                <!-- iOS codebase -->
                                <a href="https://github.com/GrinnellAppDev/Grinnell-DB-iOS">iOS Codebase</a> |

                                <!-- Android codebase -->
                                <a href="https://github.com/GrinnellAppDev/Grinnell-DB-Android">Android Codebase</a>
                                </br>
                                </br>

                                <!-- Description -->
                                <p>A mobile interface for Grinnell College's Campus Directory, DB.
                                </p>

                                <!-- iOS Store -->
                                <a href="https://itunes.apple.com/us/app/grinnell-db/id726496362?mt=8" target="_blank">
                                    <img class="responsive store" src="img/appleStore.png">
                                </a>

                                <!-- Google Play -->
                                <a href="https://play.google.com/store/apps/details?id=edu.grinnell.appdev.grinnelldirectory" target="_blank">
                                    <img class="responsive store" src="img/googlePlay.png">
                                </a>

                            </center>
                        </div>

                        <div class="col-md-2">
                            <center>
                                </br>
                                <img src="img/dbApp.png" class="appProfile" style="margin-top: 10px;" />
                                </br>
                                </br>
                            </center>

                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>

                    <!-- KDIC -->

                    <div class="col-md-12">

                        <div class="col-md-2">
                        </div>

                        <div class="col-md-2">
                            <center>
                                </br>
                                <img src="img/kdicApp.png" class="appProfile" style="margin-top: 20px;" />
                                </br>
                                </br>
                            </center>

                        </div>

                        <div class="col-md-5 profileStyle">
                            <center>
                                <h1>KDIC</h1>

                                <!-- iOS codebase -->
                                <a href="https://github.com/GrinnellAppDev/KDIC-Radio-iOS">iOS Codebase</a> |

                                <!-- Android codebase -->
                                <a href="https://github.com/GrinnellAppDev/KDIC-Radio-Android">Android Codebase</a>
                                </br>
                                </br>

                                <!-- Description -->
                                <p>The KDIC Streaming App is a convenient way for anyone to tune into their favorite radio station,
                                    KDIC, based out of Grinnell College, IA. The app allows you to pause and play the station
                                    and view the show schedule.
                                </p>

                                <!-- iOS Store -->
                                <a href="https://itunes.apple.com/us/app/kdic/id740353767?mt=8" target="_blank">
                                    <img class="responsive store" src="img/appleStore.png">
                                </a>

                                <!-- Google Play -->
                                <a href="https://play.google.com/store/apps/details?id=edu.grinnell.kdic" target="_blank">
                                    <img class="responsive store" src="img/googlePlay.png">
                                </a>

                            </center>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>

                </div>
            </div>

    </div>
    </body>

    </html>

    {{> footer}}
</body>

</html>
